.button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border: 0.15em solid var(--gray);
  padding: 1em 2em;
  border-radius: var(--border-radius);
  transition: background-color 0.3s, color 0.3s;
}

.primary {
  color: var(--white);
  text-shadow: var(--text-highlight);
  background-color: var(--primary-color);
}

.secondary {
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.lgSize {
  padding: 1em 2.4em;
}

.smSize {
  padding: 0.4em 1em;
}

.startIcon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(20%, 20%);
}
