.postsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.titleHighlight {
  color: var(--primary-color);
  text-shadow: var(--text-highlight);
}

.inputField {
  width: 20em;
  align-self: baseline;
}
